body {
  background-image: url("../images/Main\ Background.png");
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(162, 176, 207, 0.7);
  border: 2px solid #403fd3;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
}




.answerchoice {
	border: 1px solid black;
    border-radius: 5%;
	width: 40%;
	color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;
}

p {
  margin: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

#timeleft {
    font-weight: bold;
}

h3 {
    border: 2px solid;
    background-color: white;
    color: red;
}